.abt-container{
    /* margin-bottom: 5rem; */
    width: 100vw;
    height: 100%;
}
.about-title{
    text-align: center;
    text-transform: uppercase;
    color: var(--left-page-color);
    font-size: 3rem;
    margin-top: 1rem;
}
.content{
    padding: 1.5rem;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.381);
    margin: 0 1rem;
    line-height: 2.3rem;
}
.sub-heading{
    padding: 0 2rem;
    color: var(--left-page-color);
}

@media (max-width:400px){
    .about-title {
        font-size: 1.5rem;
    }
    .content {
        padding: 1.5rem;
        font-size: 1.2rem;
    }
}