header{
    position: relative;
    background-color: var(--right-page-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    width: 100vw;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: 0px 0.3rem 3px 0px rgb(42, 41, 41);
}
.arcstee-logo{
    width: 5rem;
}
.nav{
    margin-left: auto;
}

.hamburger{
    margin-left: auto;
    display: none;
}
.hamburger .hamburger-icon{
    font-size: 2.5rem;
}
.sidebar{
    position: absolute;
    z-index: 500;
    width: 250px;
    height: max-content;
    background-color: #fff;
    padding: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 1px 1px 10px 3px;
    transform: translateX(-100%);
    transition: transform 1s linear;
}
.sidebar.show-sidebar{
    transform: translateX(0);
}
.sidebar>.sidebar-list-container> li{
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.sidebar>.sidebar-list-container> li .list{
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.7rem;
    color: #000;
    cursor: pointer;
    padding: 0.5rem;
}
.sidebar>.sidebar-list-container>li .list:hover{
    background-color: var(--left-page-color);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.list-container{
    display: flex;
}

.list-container > li{
    font-size: 1.7rem;
    list-style-type: none;
    padding: 0 2rem;
}
.list-container > li > .links, .hamburger{
    position: relative;
    text-decoration: none; 
    color: var(--left-page-color);
    color: #fff;
    font-weight: bold;
    transition: all 0.5s linear;
    cursor: pointer;
}
.list-container>li>.links:hover{
    color: var(--left-page-color);
    transition: all 0.5s linear;
}
.links::after{
    position: absolute;
    left: 50%;
    top: 2.5rem;
    transform: translate(-50%, -50%);
    display: block;
    content: "";
    width: 0rem;
    height: 0.35rem;
    margin: 0 auto;
    background-color: var(--left-page-color);
    transition: all 0.5s ease-in;
}
.links:hover::after{
    width: 4rem;
    transition: all 0.5s ease-in;
}
/* TEMPORARY */
@media (max-width: 32rem) {
    .list-container {
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: none;
    }
    .hamburger {
        display: block;
    }

}