.form{
    margin-top: 1rem;
    text-align: center;
}
.form> input{
    padding: 0.5rem 1rem;
    border: none;
    border: 3px solid skyblue;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.form .submit-btn{
    padding: 0.5rem 1rem;
    border: none;
    border: 3px solid skyblue;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: skyblue;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}
.form .submit-btn:hover{
    background-color: skyblue;
    color: #fff;
}